<div class="container">
  <form #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)" >
    <div class="field">
      <label class="label">Email</label>
      <input
        required
        email
        name="email"
        [(ngModel)]="email"
        #emailControl="ngModel"
        class="input"
        [ngClass]="{ 'is-danger': emailControl.invalid && emailControl.touched }"
      />
      <ng-container *ngIf="emailControl.invalid && emailControl.touched">
        <div class="help is-danger" *ngIf="emailControl.errors?.['required']" >
          Email must have value
        </div>
        <div class="help is-danger" *ngIf="emailControl.errors?.['email']" >
          format not valid
        </div>
      </ng-container>
    </div>
    <div>
      <button type="submit" class="button is-primary" [disabled]="emailForm.invalid" >Submit</button>
    </div>
  </form>
  <hr/>
  <div>Is form valid: {{ emailForm.valid }}</div>
  <div>form values: {{ emailForm.value | json }}</div>
</div>
